.footer-container {
  position: relative;
  background-color: transparent;
  color: #fff;
  text-align: center;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.wave-svg {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  align-self: center;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: absolute; 
  top: 70%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 1; 
  padding: 1rem 0;
}

.footer-icon {
  color: #fff;
  font-size: 2rem;
  transition: color 0.3s ease;
  text-decoration: none;
}

.footer-icon:hover {
  color: #1f98f4;
}


@media (max-width: 960px) {
  .footer-icons {
    top: 83%;
    gap: 0.7rem;
  }

  .footer-icon {
    font-size: 1.5rem;

  }
}